.event{
    padding-bottom: 40px;
    background-image:linear-gradient(rgba(0, 0, 0, 0.897),rgba(0, 0, 0, 0.897)),url(../../img/eventbackground.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}